<div class="cryptool-container container" style="padding-top: 0">
    <form id="parameters">
        <div class="form-group">
            <label for="plain">${{ base.PLAIN_TEXT }}$</label>
            <textarea class="form-control" id="plain">@@plain</textarea>
        </div><div class="row">
            <div id="direction">
                <svg viewbox="0 0 50 50" width="50" height="50">
                    <polyline points="0,20 15,20 15,0 35,0 35,20 50,20 25,50"></polyline>
                </svg>
            </div>
        </div><div class="form-group">
            <label for="cipher">${{ base.ENCRYPTED_TEXT }}$</label>
            <textarea id="cipher" class="form-control">@@encrypted</textarea>
        </div>
        @@if (noKey === false) {
        <div class="form-group">
            <label for="key">${{ base.KEY }}$</label>
            <input class="form-control" type="text" id="key" value="@@key">

        </div>}
        @@if (noKey === true) {
        <div class="form-group" hidden="true">
            <label for="key">${{ base.KEY }}$</label>
            <input class="form-control" type="text" id="key" value="@@key">
        </div>}
        <br>
        @@if (alphaInput === true) {
        <div class="form-group">
            <pre id="alphaDisplay" style="text-align: center">
            </pre>
            <br>
            <label id="field-title">Alphabet:</label><br>
            <input class="form-control" type="text" id="inputField" value="ABCDEFGHIJKLMNOPQRSTUVWXYZ"/><br>
            <button id="inputButton" style="text-align: center" onclick="return randomAlpha()">${{ base.RANDOM_ALPHABET }}$</button>
        </div>
        }
        @@if (matKey === true) {
        <div class="form-group">
            <label id="matKeyTitle">${{ base.KEY_MATRIX }}$</label>
                <div style="text-align: center">
                    <input type="radio" name="matrix" id="2x2" value="2" onchange="return changeMatSize()" checked>&nbsp;2x2&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="matrix" id="3x3" value="3" onchange="return changeMatSize()">&nbsp;3x3
                </div>
            <input class="form-control" type="text" id="matKey" onkeyup="useParam(this.value)" value="22 3 9 6"/><br>
            <button id="genMat" style="text-align: center" onclick="return getRandomKey()">${{ base.RANDOM_MATRIX }}$</button>
        </div>
        }
    </form>
@@include('./options.html', {
    "dropdown": @@dropdown,
    "numInput": @@numInput,
    "name": "@@name"
    })
@@include('./alphabets.html', {
    "different_key_alphabet": @@different_key_alphabet,
    "name": "@@name"
})
</div>
