<div class="cryptool-container">
    <form id="parameters">
        <div class="form-group">
            <label for="plain">${{ base.PLAIN_TEXT }}$</label>
            <textarea class="form-control" id="plain">@@plain</textarea>
        </div>
        <div class="row">
            <div id="direction" class="w-100 text-center">
                <svg viewbox="0 0 50 50" width="50" height="50">
                    <polyline points="0,20 15,20 15,0 35,0 35,20 50,20 25,50"></polyline>
                </svg>
            </div>
        </div>
        <div class="form-group">
            <label for="cipher">${{ base.ENCRYPTED_TEXT }}$</label>
            <textarea id="cipher" class="form-control">@@encrypted</textarea>
        </div>
        @@if (noKey === false) {
        <div class="form-group">
            <label for="key">${{ base.KEY }}$</label>
            <input class="form-control" type="text" id="key" value="@@key">
        </div>}
        @@if (noKey === true) {
        <div class="form-group" hidden="true">
            <label for="key">${{ base.KEY }}$</label>
            <input class="form-control" type="text" id="key" value="@@key">
        </div>}
        <br>
        @@if (alphaInput === true) {
        <div class="form-group mb-5">
            <pre id="alphaDisplay" class="text-center"></pre> <br>
            <label id="field-title">Alphabet:</label> <br>
            <input class="form-control" type="text" id="inputField" value="ABCDEFGHIJKLMNOPQRSTUVWXYZ"/><br>
            <button id="inputButton" class="btn btn-primary" onclick="return randomAlpha()">
                <i class="fa fa-random mr-1"></i>
                ${{ base.RANDOM_ALPHABET }}$
            </button>
        </div>
        }
        @@if (matKey === true) {
        <div class="form-group mb-5">
            <div class="d-flex justify-content-between">
                <label id="matKeyTitle">${{ base.KEY_MATRIX }}$</label>
                <div class="d-flex">
                    <div class="custom-control custom-radio mr-3">
                        <input type="radio" name="matrix" id="2x2" value="2" class="custom-control-input" onchange="return changeMatSize()" checked>
                        <label class="custom-control-label" for="2x2">2x2</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" name="matrix" id="3x3" value="3" class="custom-control-input" onchange="return changeMatSize()">
                        <label class="custom-control-label" for="3x3">3x3</label>
                    </div>
                </div>
            </div>
            <input class="form-control" type="text" id="matKey" onkeyup="useParam(this.value)" value="22 3 9 6"/><br>
            <button id="genMat" class="btn btn-primary" onclick="return getRandomKey()">
                <i class="fa fa-key mr-1"></i>
                ${{ base.RANDOM_MATRIX }}$
            </button>
        </div>
        }
    </form>
@@include('./options.html', {
    "dropdown": @@dropdown,
    "numInput": @@numInput,
    "name": "@@name"
})
@@include('./alphabets.html', {
    "different_key_alphabet": @@different_key_alphabet,
    "name": "@@name"
})
</div>
