.gcarlin {
    color: red;
}
#examples {
    text-decoration: underline;
}
#keywordBox {
    float:left;
    width: 97%;
    display: inline-block;
    margin: 0;
}
#keywordBox .left {
    float:left;
    max-width: 45%;
    text-align: right;
    margin: 0 1em;
}
#keywordBox .right {
    float:left;
    width: 65%;
}
#keywordBox input[type='text'] {
    text-align: center;
    min-width: 30%;
    width: 48%;
    padding: 0.2em;
    float: left;
}
.keyword {
    display: flex;
    margin: 0.5em 0;
    width: 100%;
    line-height: 150%;
}
.right {
    float: right;
    width: 40%;
    display: inline-block;
}
#output {
    margin-top: 1em;
    width: 100%;
    float: left;
}
#ciphType {
    text-align: center;
    float: left;
    width: 100%;
    margin: 1em 0;
}
.containerFluid #plain {
    margin-top: 1em;
}
