# Ignore everything
/*
node_modules
.idea

# But not these files...
!.gitignore

!/_ctoApps
!/_ctoApps/*

!/_ctoLegacy
!/_ctoLegacy/*

!/plugins
/plugins/*
!/plugins/content
/plugins/content/*
!/plugins/content/loadcto
!/plugins/content/loadcto/*
