<div class="cryptool-container">

    @@if (name === "morsecode") {
        <p>${{ base.MORSETEXT }}$</p>
        <table class="table table-bordered">
            <tr>
                <td>${{ base.MORSE_EASY_CAPTION }}$</td>
                <td>${{ base.MORSE_EASY_LINK }}$</td>
            </tr>
            <tr>
                <td>${{ base.MORSE_INTERMEDIATE_CAPTION }}$</td>
                <td>${{ base.MORSE_INTERMEDIATE_LINK }}$</td>
            </tr>
            <tr>
                <td>${{ base.MORSE_HARD_CAPTION }}$</td>
                <td>${{ base.MORSE_HARD_LINK }}$</td>
            </tr>
        </table>
        <br><br>
    }

    <form id="parameters">
        <div class="form-group">
            <label for="plain">${{ base.PLAIN_TEXT }}$</label>
            <textarea class="form-control" rows="6" id="plain">@@plain</textarea>
        </div><div class="row">
            <div id="direction" class="w-100 text-center">
                <svg viewbox="0 0 50 50" width="50" height="50">
                    <polyline points="0,20 15,20 15,0 35,0 35,20 50,20 25,50"></polyline>
                </svg>
            </div>
        </div><div class="form-group">
            <label for="cipher">${{ base.ENCRYPTED_TEXT }}$</label>
            <textarea id="cipher" class="form-control" rows="6">@@encrypted</textarea>
        </div>
        @@if (name === "huffman") {
        <div class="form-group">
            <label for="plain">${{ base.ASCII }}$</label>
            <textarea id="ascii_encode" class="form-control" rows="6" readonly="readonly"></textarea>
        </div>
        <hr>
        <div class="form-group" id="calculated"></div>
        }
    </form>

@@include('./options.html', {
    "name": "@@name"
    })
@@include('./alphabets.html', {
    "different_key_alphabet": @@different_key_alphabet
})

</div>
