#socketBox {
    width: 100%;
    float: left;
}

#socketBox .select {
    width: 60%;
    float: left;
}

#socketBox .select select {
    padding-left: 1em;
    margin: 0 0.5em;
    min-width: 15%;
}

#socketBox .select p {
    float: left;
    width: 100%;
    margin: 0.5em 0;
    display: block;
}

#socketBox .socketFilter {
    display: block;
    width: 100%;
    float: left;
}
/*
#socketBox .socketFilter div {
    width: 100%;
    float: left;
    display: flex;
}
*/
#socketBox .socketFilter h4 {
    width: 100%;
    float: left;
}

#socketBox .socket {
    text-align: center;
    margin-top: 1em;
}

#socketBox .socket .clients {
    width: 100%;
    float: left;
    margin: 1em 0;
}

#socketBox div.flexCon {
    display: flex;
    float: left;
    width: 100%;
    margin: 0 auto;
}

#socketBox .flexCon div {
    box-sizing: content-box;
    width: 100%;
    float: left;
    text-align: left;
}

#socketBox #messages {
    width: 100%;
    float: left;
    display: block;
}

#socketBox #messages p{
     width: 100%;
     float: left;
}

#socketBox .flex {
    width: 100%;
    float: left;
}

#socketBox .flex .select label{
    width: 21em; /*35%*/
    float: left;
}

#socketBox .info {
    float: left;
    display: block;
    /*margin-right: 5em;*/
}
#socketBox .info b {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
#socketBox .info div {
    padding: 0.2em 0;
}

#socketBox #result {
    width: 97%;
    float: left;
    text-align: center;
}

#socketBox #result li {
    padding: 0.3em;
    margin: 0.5em;
    /*font-size: 1.1em;*/
    line-height: 1.5em;
    border: 0.2em double;
    width: 100%;
    float: left;
}

#socketBox #result li span {
    margin-left: 1em;
}

#socketBox #result ol b {
    padding-right: 1em;
}

#socketBox #result input {
    float: right;
    display: block;
    width: 15%;
    margin: 0;
}

#socketBox div input {
    padding: 0.5em;
    float: left;
    margin: 0.3em 1em 0 0;
}

#socketBox div input[type='search'] {
    border: 0.1em solid #229222;
    width: 100%;
}

#socketBox div input[type='text'] {
    /*margin: 1em !important;*/
    width: 100%;
}

#socketBox div input[type='button'] {
    margin: 0.5em 0;
    width: 100%;
}

#socketBox #distributeJob {
    width: 100%;
    border: 0.1em dotted #229222;
    padding: 0.5em;
    text-align: center;
    margin-top: 1em;
}

#socketBox #distributeJob div {
    float: left;
}

#socketBox #distributeJob div.input {
     float: left;
     width: 100%;
 }

#socketBox #distributeJob input#job {
    width: 85%;
    padding: 0.5em;
    /*text-align: center;*/
    margin: 0 1em 1em;
    float: none;
}

#socketBox #distributeJob .drop {
    text-align: center;
    width: 100%;
    float: left;
    display: block;
}

#socketBox #distributeJob .form-control-feedback {
    top: 0;
    left: 22.5em;
}

@media screen and (max-width: 534px) {
    #socketBox #distributeJob .form-control-feedback {
        top: 2.4em;
        left: auto;
    }
    #socketBox #distributeJob input#job {
        width: 95%;
    }
}

#socketBox #distributeJob .has-feedback label {
    float: left;
    line-height: 2em;
}

@media screen and (max-width: 720px) {
    #socketBox .select {
        width: 100%;
    }
    #socketBox .flex .select label{
        /*width: 100%;*/
    }
}
