.tab-content input[type="text"] {
  border-radius: 7px;
  border: solid var(--dark) 1px;
  width: 35px;
}

.tab-content .inlineSection {
  /* 
  hide whitespace nodes in all modern browsers except webkit. Any value is fine, as words won't overlap 
  */
  word-spacing: -1em;
  /* Webkit Fix */
  display: table;
}

.tab-content .inline {
  display: inline-block;
  /* reset from parent */
  word-spacing: 0;
}

.tab-content tr {
  text-align: center;
}

#shifted {
  text-align: center;
}

.tab-content .dropdown-item:active {
  background: var(--green);
}
.tab-content .dropdown-item:hover {
  background: var(--green);
}
.tab-content .custom-range::-webkit-slider-thumb {
  background: gray;
}

.tab-content .custom-range::-moz-range-thumb {
  background: var(--green);
}
.tab-content .custom-range::-moz-range-thumb:active {
  background: var(--green);
}

.tab-content .custom-range::-ms-thumb {
  background: gray;
}

.tab-content thead {
  font-weight: bold;
}
