.aestetics .hidden {
	display: none;
}
.aestetics {
	position: relative;
}
.aestetics .bytes, .aestetics .aestetic-editable, .aestetics .referable {
	font-family: monospace;
	padding: 8px 15px;
	background-color: #fff;
}
.aestetics .bytes {
	color: #888;
}
.aestetics .aestetic-editable {
	color: #008;
	background-color: #ddf;
}
.aestetics .referable {
	color: #008;
}
.aestetics .bytes div, .aestetics .aestetic-editable div, .aestetics .referable div {
	display: inline-block;
	padding: 0 12px 0 0;
}
#main.aestetics {
	position: relative;
}
/*noinspection CssUnusedSymbol*/
.aestetics .active-1 {
	background-color: rgba(255, 0, 0, 0.5);
}
/*noinspection CssUnusedSymbol*/
.aestetics .active-2 {
	background-color: rgba(255, 0, 0, 0.25);
}
/*noinspection CssUnusedSymbol*/
.aestetics .active-3 {
	background-color: rgba(255, 0, 0, 0.125);
}
/*noinspection CssUnusedSymbol*/
.aestetics .active-4 {
	background-color: rgba(255, 0, 0, 0.115);
}
/*noinspection CssUnusedSymbol*/
.aestetics .active-5 {
	background-color: rgba(255, 0, 0, 0.105);
}
/*noinspection CssUnusedSymbol*/
.aestetics .active-6 {
	background-color: rgba(255, 0, 0, 0.095);
}
/*noinspection CssUnusedSymbol*/
.aestetics .active-7 {
	background-color: rgba(255, 0, 0, 0.085);
}
/*noinspection CssUnusedSymbol*/
.aestetics .active-8 {
	background-color: rgba(255, 0, 0, 0.075);
}
/*noinspection CssUnusedSymbol*/
.aestetics .active-9 {
	background-color: rgba(255, 0, 0, 0.065);
}
/*noinspection CssUnusedSymbol*/
.aestetics .active-10 {
	background-color: rgba(255, 0, 0, 0.055);
}
/*noinspection CssUnusedSymbol*/
.aestetics .disabled {
	color: rgba(0, 0, 0, .2) !important;
	pointer-events: none;
}
.aestetics p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    color: #777;
}
.aestetics .error-overlay {
	position: absolute;
	z-index: 20;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	background-color: #600;
	color: #f00;
	border: solid 3px #f00;
	border-radius: 6px;
}
#aestetic-calc {
	position: absolute;
	z-index: 30;
	top: 0;
	left: 0;
	background-color: #fff;
	color: #444;
	border: solid 1px #888;
	border-radius: 6px;
	padding: 6px;

}

#aestetic-calc p {
	margin-bottom: 0;
}

.aestetics .error-overlay > h2 {
	height: 44px;
	background-color: #600;
	border-bottom: solid 1px #f00;

	padding: 0 10px;
	margin: 0;
	font-size: 17px;
	font-weight: 500;
	line-height: 44px;
	text-align: center;
}
.aestetics .error-overlay > p {
	margin: 0;
	padding: 6px 10px;
	color: #fff;
}
.aestetics ul {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 15px;
	list-style: none;
	border-bottom: 1px solid #ddd;
}
.aestetics li {
	border-top: 1px solid #ddd;		
	padding: 11px 65px 11px 15px;
	position: relative;
}
.aestetics .sub {
	border-top: 0;
	margin-top: -10px;
}
.aestetics .header {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 15px;
	margin-top: -1px;
	margin-left: 0;
	font-weight: 500;
	color: #999;
	background-color: #fafafa;
	border-top: 2px solid #888;
}
.aestetics .card {
	overflow: hidden;
	background-color: #fff;
	margin: 0 10px 10px 10px;
	border: 1px solid #ddd;
	border-radius: 6px;
}
.aestetics .card ul {
	margin-bottom: 0;
	border-top: 0;
	border-bottom: 0;
}
.aestetics .card ul li:first-child {
	border-top: 0;
}
.aestetics li > a {
	position: relative;
	display: block;
	padding: inherit;
	margin: -11px -65px -11px -15px;
	color: #008;
	text-decoration: none;

    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
}
.aestetics .header > a {
	padding: inherit;
	margin: -6px -65px -6px -15px;	
}

.aestetics li li {
	position: relative;
}
/*noinspection CssUnusedSymbol*/
.aestetics .right, .aestetics .toggle, .aestetics a > .icon {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 21px;
}
/*noinspection CssUnusedSymbol*/
.aestetics .toggle {
	font-size: 21px;
	cursor: pointer;
	width: 74px;
	height: 30px;
	background-color: #fff;
	border: 2px solid #ddd;
	border-radius: 20px;
}
/*noinspection CssUnusedSymbol*/
.aestetics .toggle.active {
	background-color: #5a5;
	border: solid 2px #5a5;
}
/*noinspection CssUnusedSymbol*/
.aestetics .toggle:before {
	position: absolute;
	top: 3px;
	right: 11px;
	font-size: 13px;
	color: #999;
	content: "OFF";
}
/*noinspection CssUnusedSymbol*/
.aestetics .toggle.active:before {
	right: auto;
	left: 15px;
	color: #fff;
	content: "ON";
}
/*noinspection CssUnusedSymbol*/
.aestetics .toggle .toggle-handle {
	position: absolute;
	top: -1px;
	left: -1px;
	z-index: 2;
	width: 28px;
	height: 28px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 100px;
}
/*noinspection CssUnusedSymbol*/
.aestetics .toggle.active .toggle-handle {
	border-color: #5a5;
	transform: translateX(44px);
}
.aestetics .icon:before {
	content: "\27e8";
}
.aestetics .collapsed .icon:before {
	content: "\27e9";
}
.aestetics .expand, .aestetics .collapsed .collapse {
	display: none;
}
.aestetics .collapse, .aestetics .collapsed .expand {
	display: inline-block;
}
/*noinspection CssUnusedSymbol*/
.aestetics .badge-aes256, .aestetics .badge-aes192, .aestetics .badge-aes128, .aestetics .badge-rijndael, .aestetics .badge-unknown {
	display: inline-block;
	padding: 2px 9px 3px;
	font-size: 12px;
	line-height: 1;
	border-radius: 100px;
	margin-right: 6px;
	transform: translateY(-2px);
}
/*noinspection CssUnusedSymbol*/
.aestetics .badge-aes256, .aestetics .badge-aes192, .aestetics .badge-aes128 {
	color: #060;
	background-color: rgba(0, 255, 0, 0.15);
	border: solid 1px #060;
}
/*noinspection CssUnusedSymbol*/
.aestetics .badge-rijndael {
	color: #550;
	background-color: rgba(255, 255, 0, 0.15);
	border: solid 1px #550;
}
/*noinspection CssUnusedSymbol*/
.aestetics .badge-unknown {
	color: #600;
	background-color: rgba(255, 0, 0, 0.15);
	border: solid 1px #600;
}
/*noinspection CssUnusedSymbol*/
.aestetics .badge-aes256:before {
	content: "AES-256";
}
/*noinspection CssUnusedSymbol*/
.aestetics .badge-aes192:before {
	content: "AES-192";
}
/*noinspection CssUnusedSymbol*/
.aestetics .badge-aes128:before {
	content: "AES-128";
}
/*noinspection CssUnusedSymbol*/
.aestetics .badge-rijndael:before {
	content: "Rijndael";
}
/*noinspection CssUnusedSymbol*/
.aestetics .badge-unknown:before {
	content: "Non-Standard Configuration";
}
.aestetics #connections {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 15;
}
/*noinspection CssUnusedSymbol*/
.aestetics .c0 {
	color: #000;
}
/*noinspection CssUnusedSymbol*/
.aestetics .c1 {
	color: #022;
}
/*noinspection CssUnusedSymbol*/
.aestetics .c2 {
	color: #044;
}
/*noinspection CssUnusedSymbol*/
.aestetics .c3 {
	color: #066;
}
/*noinspection CssUnusedSymbol*/
.aestetics .c4 {
	color: #088;
}
/*noinspection CssUnusedSymbol*/
.aestetics .c5 {
	color: #0aa;
}
/*noinspection CssUnusedSymbol*/
.aestetics .c6 {
	color: #0cc;
}
/*noinspection CssUnusedSymbol*/
.aestetics .c7 {
	color: #0ee;
}
/*noinspection CssUnusedSymbol*/
.aestetics .c8 {
	color: #1ff;
}
#aestetic-textbox {
	background-color: transparent;
}
#aestetic-textarea {
	position: relative;
	left: 5%;
	top: 5%;
	width: 90%;
	height: 90%;
	font-family: monospace;
	font-size: 17px;
}
.aestetics .flex-container {
	display: flex;
}
.aestetics .flex-grow {
	flex-grow: 2;
}