.hidden {
	display: none;
}
.bytes, .editable, .referable {
	font-family: monospace;
	padding: 8px 15px;
	background-color: #fff;
}
.bytes {
	color: #888;
}
.editable {
	color: #008;
	background-color: #ddf;
}
.referable {
	color: #008;
}
.bytes div, .editable div, .referable div {
	display: inline-block;
	padding: 0 12px 0 0;
}
/*noinspection CssUnusedSymbol*/
.active-1 {
	background-color: rgba(255, 0, 0, 0.5);
}
/*noinspection CssUnusedSymbol*/
.active-2 {
	background-color: rgba(255, 0, 0, 0.25);
}
/*noinspection CssUnusedSymbol*/
.active-3 {
	background-color: rgba(255, 0, 0, 0.125);
}
/*noinspection CssUnusedSymbol*/
.active-4 {
	background-color: rgba(255, 0, 0, 0.115);
}
/*noinspection CssUnusedSymbol*/
.active-5 {
	background-color: rgba(255, 0, 0, 0.105);
}
/*noinspection CssUnusedSymbol*/
.active-6 {
	background-color: rgba(255, 0, 0, 0.095);
}
/*noinspection CssUnusedSymbol*/
.active-7 {
	background-color: rgba(255, 0, 0, 0.085);
}
/*noinspection CssUnusedSymbol*/
.active-8 {
	background-color: rgba(255, 0, 0, 0.075);
}
/*noinspection CssUnusedSymbol*/
.active-9 {
	background-color: rgba(255, 0, 0, 0.065);
}
/*noinspection CssUnusedSymbol*/
.active-10 {
	background-color: rgba(255, 0, 0, 0.055);
}
/*noinspection CssUnusedSymbol*/
.disabled {
	color: rgba(0, 0, 0, .2) !important;
	pointer-events: none;
}
p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    color: #777;
}
body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 17px;
	line-height: 21px;
	color: #000;
	background-color: #fff;
}
h1 {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;	
	z-index: 10;
	height: 44px;
	background-color: #fff;
	border-bottom: solid 1px #ddd;

	display: block;
	width: 100%;
	padding: 0 10px;
	margin: 0 -10px;
	font-size: 17px;
	font-weight: 500;
	line-height: 44px;
	text-align: center;
}
h1 span {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	text-align: right;
    font-size: 12px;
    padding: 0;
    margin: 0;
    line-height: 1.2;
    color: #777;
    font-weight: normal;
}
.content {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding-top: 44px;
}
.content-padded {
	margin: 10px 15px;
}
.error-overlay {
	position: absolute;
	z-index: 20;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	background-color: #600;
	color: #f00;
	border: solid 3px #f00;
	border-radius: 6px;
}
#calc {
	position: absolute;
	z-index: 30;
	top: 0;
	left: 0;
	background-color: #fff;
	color: #444;
	border: solid 1px #888;
	border-radius: 6px;
	padding: 6px;

}

#calc p {
	margin-bottom: 0;
}

.error-overlay > h2 {
	height: 44px;
	background-color: #600;
	border-bottom: solid 1px #f00;

	padding: 0 10px;
	margin: 0;
	font-size: 17px;
	font-weight: 500;
	line-height: 44px;
	text-align: center;
}
.error-overlay > p {
	margin: 0;
	padding: 6px 10px;
	color: #fff;
}
ul {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 15px;
	list-style: none;
	border-bottom: 1px solid #ddd;
}
li {
	border-top: 1px solid #ddd;		
	padding: 11px 65px 11px 15px;
	position: relative;
}
.sub {
	border-top: 0;
	margin-top: -10px;
}
.header {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 15px;
	margin-top: -1px;
	margin-left: 0;
	font-weight: 500;
	color: #999;
	background-color: #fafafa;
	border-top: 2px solid #888;
}
.card {
	overflow: hidden;
	background-color: #fff;
	margin: 0 10px 10px 10px;
	border: 1px solid #ddd;
	border-radius: 6px;
}
.card ul {
	margin-bottom: 0;
	border-top: 0;
	border-bottom: 0;
}
.card ul li:first-child {
	border-top: 0;
}
li > a {
	position: relative;
	display: block;
	padding: inherit;
	margin: -11px -65px -11px -15px;
	color: #008;
	text-decoration: none;

    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
}
.header > a {
	padding: inherit;
	margin: -6px -65px -6px -15px;	
}

li li {
	position: relative;
}
/*noinspection CssUnusedSymbol*/
.right, .segmented, .toggle, a > .icon {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 21px;
}
.segmented {
	height: 80%;
	display: inline-block;
	background-color: #fff;
	border: #ccc 1px solid;
	border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
}
.segmented > a {
	display: inline-block;
	height: 32px;
	text-decoration: none;
	padding: 2px 15px;
	border-left: #ccc 1px solid;
	font-size: 17px;
}
.segmented > a.big {
    font-size: 32px;
}
.segmented > a.active {
    background-color: #ddf;
}
.segmented > a:first-child {
	border-left: none;
}
/*noinspection CssUnusedSymbol*/
.toggle {
	font-size: 21px;
	cursor: pointer;
	width: 74px;
	height: 30px;
	background-color: #fff;
	border: 2px solid #ddd;
	border-radius: 20px;
}
/*noinspection CssUnusedSymbol*/
.toggle.active {
	background-color: #5a5;
	border: solid 2px #5a5;
}
/*noinspection CssUnusedSymbol*/
.toggle:before {
	position: absolute;
	top: 3px;
	right: 11px;
	font-size: 13px;
	color: #999;
	content: "OFF";
}
/*noinspection CssUnusedSymbol*/
.toggle.active:before {
	right: auto;
	left: 15px;
	color: #fff;
	content: "ON";
}
/*noinspection CssUnusedSymbol*/
.toggle .toggle-handle {
	position: absolute;
	top: -1px;
	left: -1px;
	z-index: 2;
	width: 28px;
	height: 28px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 100px;
}
/*noinspection CssUnusedSymbol*/
.toggle.active .toggle-handle {
	border-color: #5a5;
	transform: translateX(44px);
}
.icon:before {
	content: "\27e8";
}
.collapsed .icon:before {
	content: "\27e9";
}
/*noinspection CssUnusedSymbol*/
.badge-aes256, .badge-aes192, .badge-aes128, .badge-rijndael, .badge-unknown {
	display: inline-block;
	padding: 2px 9px 3px;
	font-size: 12px;
	line-height: 1;
	border-radius: 100px;
	margin-right: 6px;
	transform: translateY(-2px);
}
/*noinspection CssUnusedSymbol*/
.badge-aes256, .badge-aes192, .badge-aes128 {
	color: #060;
	background-color: rgba(0, 255, 0, 0.15);
	border: solid 1px #060;
}
/*noinspection CssUnusedSymbol*/
.badge-rijndael {
	color: #550;
	background-color: rgba(255, 255, 0, 0.15);
	border: solid 1px #550;
}
/*noinspection CssUnusedSymbol*/
.badge-unknown {
	color: #600;
	background-color: rgba(255, 0, 0, 0.15);
	border: solid 1px #600;
}
/*noinspection CssUnusedSymbol*/
.badge-aes256:before {
	content: "AES-256";
}
/*noinspection CssUnusedSymbol*/
.badge-aes192:before {
	content: "AES-192";
}
/*noinspection CssUnusedSymbol*/
.badge-aes128:before {
	content: "AES-128";
}
/*noinspection CssUnusedSymbol*/
.badge-rijndael:before {
	content: "Rijndael";
}
/*noinspection CssUnusedSymbol*/
.badge-unknown:before {
	content: "Non-Standard Configuration";
}
#connections {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
}
/*noinspection CssUnusedSymbol*/
.c0 {
	color: #000;
}
/*noinspection CssUnusedSymbol*/
.c1 {
	color: #022;
}
/*noinspection CssUnusedSymbol*/
.c2 {
	color: #044;
}
/*noinspection CssUnusedSymbol*/
.c3 {
	color: #066;
}
/*noinspection CssUnusedSymbol*/
.c4 {
	color: #088;
}
/*noinspection CssUnusedSymbol*/
.c5 {
	color: #0aa;
}
/*noinspection CssUnusedSymbol*/
.c6 {
	color: #0cc;
}
/*noinspection CssUnusedSymbol*/
.c7 {
	color: #0ee;
}
/*noinspection CssUnusedSymbol*/
.c8 {
	color: #1ff;
}
#dimmer {
	z-index: 20;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(1, 1, 1, 0.5);
}
#textbox {
	position: absolute;
	width: 70%;
	height: 70%;
	left: 15%;
	top: 15%;
	background-color: #fff;
	border: solid 1px #ddd;
	border-radius: 20px;
}
#textbox-header, #textbox-footer {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 10%;
}
#textbox-header {
	text-align: center;
}
#textbox-footer a {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
	width: 50%;
	height: 100%;
	text-decoration: none;
	text-align: center;
}
#textbox-content {
	position: relative;
	width: 100%;
	height: 80%;
}
#textarea {
	position: relative;
	left: 5%;
	top: 5%;
	width: 90%;
	height: 90%;
	font-family: monospace;
	font-size: 17px;
}