.badge {
    font-size: small !important;
    padding: 0% !important
}

.CodeMirror {
    font-size: 12px;
    border: 1px solid var(--border-color);
}

#caesar-key-minus, #caesar-key-plus {
    text-align: center
}

#caesar-crypt-checkbox-wrapper .custom-control-input:checked~.custom-control-label::before,
#caesar-crypt-checkbox-wrapper .custom-control-label::before {
    color: #fff;
    border-color: var(--primary);
    background-color: var(--primary)
}

#caesar-crypt-checkbox-wrapper .custom-control-label::after {
    background-color: #fff
}

#caesar-mode-switch {
    color: var(--text-color-invert)
}

#caesar-python-local-editor-font-size input {
    width: auto !important;
    display: inline-block !important;
    vertical-align: middle !important;
}

/* hide arrows for #caesar-key-input input */
#caesar-key-input::-webkit-outer-spin-button,
#caesar-key-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#caesar-key-input[type=number] {
    -moz-appearance:textfield;
}