@use "../abstracts/" as *;

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Helvetica', 'Arial', sans-serif;
}


/*
    // color 
*/




.page-background{

    &--alpha{
        background: var(--page-background-alpha);
    }

    &--beta{
        background: var(--page-background-beta);
    }

    &--gamma{
        background: var(--page-background-gamma);
    }

    &--subbytes{
        background: var(--page-background-delta);
    }

    &--shiftrows{
        background: var(--page-background-zeta)
    }
    &--mixcolumns{
        background: var(--page-background-eta)
    }
    &--addroundkey{
        background: var(--page-background-theta)
    }
   
}

.movable{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
}


.landing{    
    position: relative;
    //background: #fff;
    display: flex;
    flex-direction: column;
}


.rijndael-page{
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;

    &__bg--black{
        background: black;
        color: #fff;
    }

    &__bg--white{
        background: #fff;
        color: #333;
    }
}


.tooltip{
    position: relative;
}

.tooltiptext{
    visibility: hidden;
    width: max-content;
    max-width: 180px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 1rem;

    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 10;
    font-size: .9rem;
    word-wrap: break-word;
    overflow-wrap: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;


    bottom: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);

    @include respond("tab-port"){
        display: none;
    }

}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;

}


.tooltip--right .tooltiptext{
    left: 0%;
    transform: translateX(0%);
}

.tooltip--right .tooltiptext::after {
    left: 1.2rem;
}

.tooltip--left .tooltiptext{
    right: 0;
    left: auto;
    transform: translateX(0%);
}

.tooltip--left .tooltiptext::after {
    left: auto;
    right: .9rem;
}




.rijndael-layout{
    display: flex;
    width: 100%;
    height: 100%;

    &__left{
        flex: 2;
    }

    &__right{
        flex: 3;
    }
}

.rijndael-flex{
    display: flex;

    &--center{
        justify-content: center;
        align-items: center;
    }
}

.pixi-text{
  user-select: none;
  opacity: 0;
}

.pixi-text-container{
    z-index: 3;
    position: absolute;
    right: 1rem;
    top: 50%;
    max-width: 200px;
    font-size: .9rem;
    user-select: none;
 

    & > div{
        margin-bottom: .2rem;
    }

    & > div:not(:first-child){
        padding-left: 1rem;
    }

    
}

#page-14-text-intro{
   
}