@@include('../common/base.css')

#contenti2 form,input,select,textarea {
    margin:0;
    padding:0;
}

#contenti2 #minimum {
    margin-left: 20px;
    padding-left: 0;
}

#contenti2 td {
    background: #eee;
    padding: 7px;
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;
    font-size: 90%;
}
#contenti2 th {
    background: #000000;
    color: #fff;
    text-align: left;
    vertical-align: middle;
    line-height: 80%;
    word-wrap: break-word;
    font-size: 95%;
}
#contenti2 {
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    max-width: 600px;
    zoom: 0.8;
    -moz-transform: scale(0.8);
}

#contenti2 #score {
    color: #000;
    font-size: 85%;
    position:absolute;
    text-align: center;
    width: 100px;
    z-index: 10;
}
#contenti2 #score,#contenti2 #rating,#contenti2 #standards {
    font-weight: bold;
}
#contenti2 #scorebar {
    background-image: url(../tools/passcheck/images/bg_strength_gradient.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    position:absolute;
    width: 100px;
    z-index: 0;
}
#contenti2 #scorebarBorder {
    background: #333;
    border: 1px #000 solid;
    height: 16px;
    margin-bottom: 2px;
    width: 100px;
}
#contenti2 #passwordPwd {
    width: 100px;
}

#contenti2 #passwordTxt {
    width: 100px;
}

#contenti2 #tablePwdScoring {
    margin-bottom: 0 !important;
}
#contenti2 #listLegend li {
    list-style: none;
    padding-bottom: 4px;
    margin-left: 0;
    padding-left: 0;
}
#contenti2 #listLegend {
    margin-left: 0;
    padding-left: 0;
}
#contenti2 div.fail,#contenti2 div.pass,#contenti2 div.exceed,#contenti2 div.warn {
    background-repeat: no-repeat;
    background-position: left top;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 16px;
}
#contenti2 div.exceed {
    background-image: url(../tools/passcheck/images/img_status_exceed.png);
}
#contenti2 div.fail {
    background-image: url(../tools/passcheck/images/img_status_fail.png);
}
#contenti2 div.pass {
    background-image: url(../tools/passcheck/images/img_status_pass.png);
}
#contenti2 div.warn {
    background-image: url(../tools/passcheck/images/img_status_warn.png);
}
#contenti2 td.exceed,#contenti td.fail,#contenti td.pass,#contenti td.warn {
    color: #fff;
    font-weight: bold;
    text-align: center;
}
#contenti2 td.exceed {
    background: #1C60A4;
}
#contenti2 td.fail {
    background: #C00;
}
#contenti2 td.pass {
    background: #093;
}
#contenti2 td.warn {
    background: #f60;
}
#contenti2 div.box {
    background: #456;
    border: 0px #000 solid;
    color: #fff;
    height: 24px;
    padding: 2px;
    white-space: nowrap;
    width: 24px;
}
#contenti2 div.boxMinus,#contenti2 div.boxPlus {
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 2px;
    text-align: left;
    white-space: nowrap;
}
#contenti td.footnote {
    background: #ddd;
    font-size: 70%;
}
#contenti2 .bold {
    font-weight: bold;
}

#contenti2  .imgLegend {
    clear: left !important;
    float: left !important;
    position: relative !important;
    margin-bottom: -3px !important;
    margin-right: 5px !important;
}