.spacer {
    height: 2em;
}
.modal-footer .btn{
    margin-top: 5px;
}
.cryptool-container textarea, .cryptool-container input[type="text"] {
    font-family: monospace;
}
.cryptool-container .offset {
    display: none;
}
.cryptool-container .alert {
    margin-top: 8px;
}
.cryptool-container .alert-hidden {
    display: none;
}
.cryptool-container .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    background-image: none;
    background-repeat: no-repeat;
    background-position: inherit;
}
.cryptool-container .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

#factors-output, #example-numbers {
    text-indent: 0;
}

#factors-output li { 
    margin-top: 0;
}

#factorize-button {
    margin-left: 1em;
}

#number-input-bits-count-info {
    font-size: 0.9em
}