$breakpoint-phone: 37.5em;  // 600px
$breakpoint-tab-port: 56.26em; // 900 px
$breakpoint-tab-land: 75em; // 1200 px 
$breakpoint-big-desktop: 112.5em; // 1800 px


:root{
    --white: #ffffff;

    --white-alpha: #fbfbfb;

    --black: #000000; 
    --black-alpha: #333333;

    --dark-grey: #333333;
    --dark-grey-2: #555555;
    --dark-grey-3: #888888;
    --dark-grey-4: #858585;

    --light-grey: #eeeeee;
    --light-grey-2: #cccccc;
    --light-grey-3: #aaaaaa;
    --light-grey-4: #BFBFBF;


    --yellow-1: #FFF997;
    --yellow-2: #FFCA61;
    --yellow-3: #DD8501;
    --yellow-4: #FF9901;
    --yellow-5: #D58204;
    --yellow-6: #FFC502;
    --yellow-7: #EEECC2;
    --yellow-8: #e0c643;
   
    --blue-1: #008FFF;
    --blue-2: #2895FA;
    --blue-3: #567FCF;
    --blue-4: #2D68CB;
    --blue-5: #B1D7F6;
    --blue-6: #608dc4;


    --green-1: #638E34;
    --green-2: #A1C1B4;
    --green-3: #426e3a;
    --green-4: #74ad82;
    --green-5: #60d173;
    --green-6: #4ca15a;

    --red-1: #FF1A01;
    --red-2: #F9CCC7;
    --red-3: #ed6861;

    --red-pastel-1: #ff6961;

    --pink-1: #FFD1CB;

    --screen-bg: var(--black)
}

.theme{


    --text-light: var(--white);
    --text-dark: var(--dark-grey);
    --text-grey: var(--dark-grey-4);


    --encryptor-box: var(--dark-grey-3);



    --page-background-alpha: var(--black);
    --page-background-beta: var(--white);
    --page-background-gamma: var(--dark-grey-4);

    --page-background-delta: var(--blue-4);
    --page-background-zeta: var(--red-1);
    --page-background-eta: var(--yellow-6);
    --page-background-theta: var(--green-1);

    --page-background-iota: var(--dark-grey-2);

    --bar-background-alpha: var(--white);
    --bar-background-beta: var(--light-grey-3);

    /* text */
    --text-color: var(--black);
    --text-color-inverted: var(--white);
    --text-color-alpha: var(--yellow-3);
    --text-color-beta: var(--blue-3);

    /* colored labels*/

    --label-bg-alpha: var(--blue-5);
    --label-bg-beta: var(--red-2);
    --label-bg-gamma: var(--yellow-7);
    --label-bg-delta: var(--green-2);

    --label-bg-highlight-alpha: var(--blue-3);
    --label-bg-highlight-beta: var(--red-1);
    --label-bg-highlight-gamma: var(--yellow-4);
    --label-bg-highlight-delta: var(--green-1);


    /* sbox */
    --sbox-background: var(--white);
    --sbox-legend-background: var(--dark-grey-3);
    --sbox-highlight-color: var(--yellow-2);

    

    /* grids */
    --grid-background-alpha: var(--yellow-1);
    --grid-background-beta: var(--blue-1);
    --grid-background-gamma: var(--yellow-2);
    --grid-background-delta: var(--pink-1);
    --grid-background-eta: var(--light-grey-4);


}

.theme--new{
    --text-light: var(--white-alpha);

    --text-color: var(--black-alpha);
    --text-color-inverted: var(--white-alpha);
    --text-color-alpha: var(--green-1);
  

     /* grids */
    
     /* sbox */
     --sbox-background: var(--white-alpha);
     --sbox-legend-background: var(--light-grey-4);
     --sbox-highlight-color: var(--green-6);
 


     --page-background-alpha: var(--black-alpha);
     --page-background-beta: var(--white-alpha);

     --page-background-delta: var(--blue-6);
     --page-background-zeta: var(--red-3);
     --page-background-eta: var(--yellow-8);
     --page-background-theta: var(--green-6);
     

  
}