
	
	#rsa-container p {
		margin: 0 0 10px;
	}

	#rsa-container h2 {
		margin-top: 2em;
	}

	.hidden {
		display: none;
	}

	#rsa-container p.form {
		margin-left: 32px;
	}

	#direction svg {
		display: block;
		margin: 1em auto 2em auto;
	}

	#direction svg polyline {
		fill: #888;
	}

	@keyframes flip {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(180deg);
		}
	}

	#direction.flip svg {
		animation-name: flip;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}

	@keyframes flop {
		from {
			transform: rotate(180deg);
		}
		to {
			transform: rotate(0deg);
		}
	}

	#direction.flop svg {
		animation-name: flop;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}

	#authors {
		margin-top: 40px;
	}

