<div class="panel panel-primary equal-height" id="broadcast-history-panel">
    <div class="panel-heading">${{ base.broadcastHistory.header }}$</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5" id="person-selection">
                <label for="person-dropdown">${{ base.broadcastHistory.person }}$:</label>
                <span class="dropdown" id="person-dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                        <span class="current-person"></span>
                        <span class="caret"></span>
                    </button>
                    <ul id="persons-dropdown-entries" class="dropdown-menu"></ul>
                </span>
            </div>
            <div class="col-md-7" id="person-initial-key">
                <div class="pull-right">
                    <label for="person-initial-key">${{ base.broadcastHistory.initialKey }}$:</label>
                    <button type="button" class="btn btn-default btn-info" id="person-initial-key-button"
                        title="${{ base.broadcastHistory.initialKey }}$" data-container="body" data-trigger="focus" data-toggle="popover"
                        data-placement="bottom" data-content="${{ base.broadcastHistory.initialKeyPopover }}$">
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <nav>
                <ul class="pager" id="day-selection">
                    <li class="previous" id="previous-day-pager">
                        <a href="javascript:void(0)"><span aria-hidden="true">&larr;</span> ${{ base.broadcastHistory.previousDay }}$</a>
                    </li>
                    <li id="day-pager-text" class="current-day"></li>
                    <li class="next" id="next-day-pager">
                        <a href="javascript:void(0)">${{ base.broadcastHistory.nextDay }}$ <span aria-hidden="true">&rarr;</span></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="secret-day-key" class="capitalize day-key">:</label>
                <button type="button" class="btn btn-default btn-info" id="secret-day-key" 
                    title="<span class='@@ROOT_ID-popover'><span class='day-key'></span></span>" data-html="true"
                    data-container="body" data-trigger="focus" data-toggle="popover" data-placement="bottom"
                    data-content="@@if (PROTOCOL === 'DP-3T') {${{ dp3t.broadcastHistory.dayKeyPopover }}$}@@if (PROTOCOL === 'Exposure Notification') {${{ exposurenotification.broadcastHistory.dayKeyPopover }}$}">
                </button>
            </div>
        </div>        
        <div class="row">
            <div class="col-md-12" id="report-button-column">
                <span data-toggle="modal" data-target="#@@ROOT_ID #add-server-list-modal" data-placement="top">
                    <button type="button" id="report-infected-button" class="btn btn-danger btn-block"
                        data-toggle="tooltip"
                        title="${{ base.broadcastHistory.reportTooltip }}$">
                        ${{ base.broadcastHistory.reportCaption }}$
                    </button>
                </span>
            </div>
        </div>

        <p>
            ${{ base.broadcastHistory.description.para1 }}$
        </p>
        <p>
            ${{ base.broadcastHistory.description.para2 }}$
        </p>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-condensed clickable-table" id="broadcast-history-table">
            <thead>
                <tr>
                    <th>
                        <span data-toggle="tooltip" data-html="true" title="${{ base.broadcastHistory.timeSlotTooltip }}$">
                            ${{ base.broadcastHistory.timeSlot }}$
                        </span>
                    </th>
                    <th>
                        <span data-toggle="tooltip" data-html="true" class="capitalize broadcast-id" 
                            title="${{ base.broadcastHistory.broadcastIdTooltip }}$">
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <nav>
        <ul class="pagination" id="broadcast-history-pagination">
        </ul>
    </nav>
</div>

<div>
    <div class="modal fade" id="add-contact-list-modal" tabindex="-1" role="dialog"
        aria-labelledby="add-contact-list-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="add-contact-list-modal-label">${{ base.broadcastHistory.addContactModal.title }}$</h4>
                </div>
                <div class="modal-body">
                    <p>
                        ${{ base.broadcastHistory.addContactModal.question }}$
                    </p>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="contact-duration-select" class="col-sm-4 control-label">${{ base.broadcastHistory.addContactModal.duration }}$</label>
                            <div class="col-sm-8">
                                <select id="contact-duration-select" class="form-control">
                                    <option>1 ${{ base.broadcastHistory.addContactModal.minute }}$</option>
                                    <option>2 ${{ base.broadcastHistory.addContactModal.minutes }}$</option>
                                    <option>3 ${{ base.broadcastHistory.addContactModal.minutes }}$</option>
                                    <option>4 ${{ base.broadcastHistory.addContactModal.minutes }}$</option>
                                    <option>5 ${{ base.broadcastHistory.addContactModal.minutes }}$</option>
                                    <option>6 ${{ base.broadcastHistory.addContactModal.minutes }}$</option>
                                    <option>7 ${{ base.broadcastHistory.addContactModal.minutes }}$</option>
                                    <option>8 ${{ base.broadcastHistory.addContactModal.minutes }}$</option>
                                    <option>9 ${{ base.broadcastHistory.addContactModal.minutes }}$</option>
                                    <option>10 ${{ base.broadcastHistory.addContactModal.minutes }}$</option>
                                    <option>11 ${{ base.broadcastHistory.addContactModal.minutes }}$</option>
                                    <option>12 ${{ base.broadcastHistory.addContactModal.minutes }}$</option>
                                    <option>13 ${{ base.broadcastHistory.addContactModal.minutes }}$</option>
                                    <option>14 ${{ base.broadcastHistory.addContactModal.minutes }}$</option>
                                    <option>15 ${{ base.broadcastHistory.addContactModal.minutes }}$</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">${{ base.broadcastHistory.addContactModal.cancel }}$</button>
                    <button type="button" class="btn btn-primary" id="add-contact-list-button">${{ base.broadcastHistory.addContactModal.add }}$</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="modal fade" id="add-server-list-modal" tabindex="-1" role="dialog"
            aria-labelledby="add-server-list-modal-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="add-server-list-modal-label">${{ base.broadcastHistory.reportModal.title }}$</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            ${{ base.broadcastHistory.reportModal.question }}$
                        </p>
                        <p>
                            ${{ base.broadcastHistory.reportModal.info }}$
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">${{ base.broadcastHistory.reportModal.cancel }}$</button>
                        <button type="button" class="btn btn-primary" id="add-server-list-button">${{ base.broadcastHistory.reportModal.add }}$</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>