<div class="card h-100 border-success equal-height" id="matching-list-card">

    <div class="card-header bg-success text-white">
        <i class="fa fa-list-ul mr-2"></i>
        ${{ base.matchingList.header }}$
    </div>

    <div id="alt-matching-card-content">
        <div class="card-body">
            <p>${{ base.matchingList.altDescription }}$</p>
        </div>
    </div>

    <div id="matching-card-content">

        <div class="card-body">
            <p>
                ${{ base.matchingList.description.para1 }}$
                @@if (PROTOCOL === 'DP-3T') {(${{ dp3t.matchingList.description.para1Addition }}$).}
                @@if (PROTOCOL === 'Exposure Notification') {(${{ exposurenotification.matchingList.description.para1Addition }}$).}
            </p>
            <p>${{ base.matchingList.description.para2 }}$</p>
            <p>${{ base.matchingList.description.para3 }}$</p>
        </div>

        <div class="checkbox checkbox-lg px-3 pb-3" id="match-checkbox-container" data-toggle="tooltip" data-html="true" title="${{ base.matchingList.matchButtonTooltip }}$">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="match-checkbox">
                <label class="custom-control-label" for="match-checkbox">${{ base.matchingList.matchButtonCaption }}$</label>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-sm table-hover table-condensed" id="matching-list-table">
                <thead>
                    <tr>
                        <th>
                            <span data-toggle="tooltip" data-html="true"
                                title="${{ base.matchingList.dayTooltip }}$">
                                ${{ base.matchingList.day }}$
                            </span>
                        </th>
                        <th>
                            <span data-toggle="tooltip" class="capitalize broadcast-id"
                                data-html="true"
                                title="${{ base.matchingList.broadcastIdTooltip }}$">
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <nav>
            <ul class="pagination" id="matching-list-pagination">
            </ul>
        </nav>

    </div>

</div>