/* style */
.ctoformcss-adfgvx-matrix {
	font-family:courier;
	font-size: 12px;
}

.ctoformcss-adfgvx-matrix-input-size {
	width: 300px;
}
#adfgvx h2 {margin-bottom: 5px}
#adfgvx textarea {
	width: 100%;
}
.keyalphabet-wrapper,
.substitution-matrix-wrapper {display: none; margin-bottom: 20px}
.substitution-matrix input {width: 13px}

#adfgvx a.toggler {
	background: lightgreen;
	cursor: pointer;
	border: 2px solid lightgrey;
	border-right-width: 15px;
	padding: 0 5px;
	border-radius: 5px;
	text-decoration: none;
	transition: all .5s ease;
}

#adfgvx a.toggler.off {
	background: grey;
	border-right-width: 2px;
	border-left-width: 15px;
}

.form-group{ margin-bottom: 20px}