<div class="container">
<div class="containerFluid">
  <div id='lang' class='hide'>
    <button name='lang' id='de' value='DE' @click='switchLang("de")'>DE</button>
    <button name='lang' id='en' value='EN' @click='switchLang("en")'>EN</button>
  </div>

    <!-- h2>{{ $t('ciphername') }}</h2 -->
    <tabs v-if="useTabs"></tabs>
    <accordion v-if="useAccordion"></accordion>
    <plain></plain>
    <cipher></cipher>

    <div id="middleSection">
      <p>{{ $t('options') }} - {{ $t('alphabetOptions') }}
        <label class='readonly'>({{ $t('length') }}: {{alphaLength}} {{ $t('characters') }})</label>
      </p>

      <alphabet></alphabet>

      <warning></warning>

      <keybox></keybox>

      <keywordbox v-if="useKeywordBox"></keywordbox>

      <alphabetOptions></alphabetOptions>

      <buttonbox></buttonbox>
    </div>
  <div id='authors'>
    <em>CTOAUTHORS: Phil Pilcrow, Christian Sieche, David Kuche</em>
  </div>
</div>
</div>
