#cmdLine {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: small;
    text-align: left;
    border: solid #000 1px !important;
    resize: none;
    border-radius: 6px
}

.badge {
    font-size: small !important;
    padding: 0% !important
}

.tab-content .card-body {
    padding: 0%
}

.inlineSection {
    word-spacing: -1em;
    display: inline-block
}

textarea#yourcode {
    overflow: hidden;
    height: auto
}

.CodeMirror {
    font-size: 12px;
    border: #000 solid 1px;
    border-radius: 1%
}

.tab-content input {
    border-radius: 7px;
    border: solid #000 1px
}

#dropdownTheme>.dropdown-item:active,
#dropdownTheme>.dropdown-item:hover {
    background-color: var(--green)
}

#minus,
#plus {
    text-align: center
}

#cryptCheckboxWrapper .custom-control-input:checked~.custom-control-label::before,
#cryptCheckboxWrapper .custom-control-label::before {
    color: #fff;
    border-color: var(--primary);
    background-color: var(--primary)
}

#cryptCheckboxWrapper .custom-control-label::after {
    background-color: #fff
}

#modeSwitch {
    color: var(--text-color-invert)
}