/* Joostrap fix */
.containerFluid label {
	font-weight: normal;
}
.containerFluid .left {
	float: left;
	width: 55%;
}
.containerFluid textarea {
    min-height: 4%;
    width: 100%;
    margin: 0 !important;
}
.containerFluid textarea:focus {
	border: 0.1em solid #229222;
}
.containerFluid .buttonBox {
	float: left;
	width: 100%;
	margin-bottom: 1em;
	margin-top: 1em;
	display: flex;
}
.containerFluid .buttonBox input[type='Button'] {
	width: 100%;
	cursor: pointer;
	padding: 1%;
	margin: 0.5em;
}
.containerFluid .buttonBoxVertical {
	float: left;
	width: 100%;
	margin-bottom: 1em;
	margin-top: 1em;
}
.containerFluid .buttonBoxVertical input[type="Button"] {
	width: 97%;
	cursor: pointer;
	padding: 1%;
	margin: 0.5em 0;
}
.containerFluid .options {
	float: left;
	width: 100%;
}
.containerFluid #plain, #cipher {
	float: left;
	width: 100%;
}
.containerFluid #alphabetOptions {
	float: left;
	margin: 0 0.5em;
	border: 0.1em solid #ccc;
}
.containerFluid #alphabetOptions ul {
	list-style-type:none;
}
.containerFluid #alphabetOptions li {
  display: block;
}
.containerFluid #alphabetOptions label {
  display: inline;
}
.containerFluid #displayOptions {
  display: inline-block;
  float: right;
  text-align: center;
  margin-top: 0.5em;
}
.containerFluid #displayOptions label {
  display: inline;
  float: inherit;
  margin: 0 0.6em;
}
.containerFluid #middleSection {
	float: left;
	width: 100%;
	margin: 1em 0;
	border-top: 0.1em dotted #229222;
	border-bottom: 0.1em dotted #229222;
	padding-bottom: 1em;
}
.containerFluid #output {
    margin-top: 1em;
    width: 100%;
    float: left;
}
.containerFluid #authors {
	float: left;
	font-size: small;
	text-align: center;
	width: 100%;
}
.containerFluid #keyBox {
	float: left;
	width: 100%;
	margin: 0.5em 0.5em 0 0.5em;
}
.containerFluid #keyBox input {
    text-align: center;
}
.containerFluid #keyBox input[type="button"] {
    text-align: center;
    min-width: 4em;
}
.containerFluid #keyBox p {
    float: left;
    width: 97%;
}
.containerFluid .textCenter {
	text-align: center;
}
.containerFluid .readonly {
    background-color: #ddd;
}
.containerFluid .hide {
	display: none;
}
.containerFluid .image {
	text-align: center;
	width: 100%;
	float: left;
}
.containerFluid .image img {
	margin-left: auto;
	margin-right: auto;
    width: 3.5em;
}
.containerFluid #alphabet input[type='button'] {
    float: right;
}
.containerFluid #alphabet div {
    display: inline-block;
    float: right;
    margin: 0 1em;
}
.containerFluid #alphabet, .notown {
    float: left;
    width: 98%;
    margin: 0.5em;
}
.containerFluid #warnings {
    visibility: hidden;
    width: 100%;
    float: left;
    margin: 0;
}
