.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
#alphabet input[type='button'] {
	float: right;
	margin-right: -1.5em;
}
#cipherOptions label {
	display: inline !important;
}
.warning {
	display: inline-block;
	color: #8B0000;
	padding: 0.3em;
	width: 100%;
  	font-family: monospace;
  	font-weight: bold !important;
	box-sizing: border-box;
}
#keyBox p {
	display: flex;
	line-height: 150%;
}
#keyBox button {
	margin: 0 0.3em;
}
#keyBox img {
	width: 3em;
	height: 1.2em;
	text-align: center;
	vertical-align: middle;
}
#rot13 {
	width: 7em;
}
div#errors {
	display: block;
  width: 100%;
  text-align: center;
  height: 1.8em;
  float: left;
	box-sizing: border-box;
}
#lang {
	float: right;
}
#lang button {
	padding: 0.7em;
	background-color: #ADFF2F;
}
#lang button:hover {
	background-color: #7CFC00;
}
#lang button:active {
	background-color: red;
}
