div.clr {
    clear:both;
}

form#coordinate-calculator {
    margin-bottom: 10px;
    position: relative;
    top: -20px;
}

button {
    border: 1px solid #000;
    background: 0;
    padding: 1px 3px;
    float:right;
}

fieldset {
    padding: 10px;
    margin-top: 10px;
}

fieldset>legend {
    font-weight: bold;
    padding: 0 5px;
}

form fieldset>div {
    margin-top: 10px;
}

div.gps-latitude {
    margin-top: 0;
}

label {
    display:block;
    float:left;
    width: 80px;
    line-height: 20px;
    text-align: right;
    margin-right: 10px;
}

input.gps-all, input.gps-single.one-element {
    display:block;
    width: 490px;
}

input.gps-single {
    width: 150px;
}

input.gps-single.two-elements {
    width: 235px;
}


form#coordinate-calculator input {
    
    border: 1px solid #000000;
    margin-right: 10px;
}

form#coordinate-calculator input:invalid, form#coordinate-calculator input.invalid {
    border: 2px red solid;
}

div.message {
    margin-left: 90px;
    width: 496px;
    color:red;
    display :none;
}
/*
form#coordinate-calculator input:valid {
    border: 2px green solid;
}*/