.ctomonocss-txtsyncinput-style {
	border: 2px solid;
	border-color: #333333;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-face-color:#333333;
	scrollbar-highlight-color: #FFFFFF;
	font-family:courier;
	font-size: 12px;
	color: #000000;
	width:400px;
	height:30px;
	word-break: break-all;
	word-wrap: break-word;
}

.ctomonocss-invalid-style {
	border: 2px solid;
	border-color: #cc0000;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-face-color:#333333;
	scrollbar-highlight-color: #FFFFFF;
	font-family:courier;
	font-size: 12px;
	color: #000000;
	width:400px;
	height:30px;
	word-break: break-all;
	word-wrap: break-word;
}