table#author_footer {
    color: black;
}

.floatingCirclesG{
position:relative;
width:250px;
height:250px;
display:none;
-webkit-transform:scale(0.6);
-moz-transform:scale(0.6);
-o-transform:scale(0.6);
-ms-transform:scale(0.6);
}

.f_circleG{
position:absolute;
background-color:#FFFFFF;
height:45px;
width:45px;
-moz-border-radius:23px;
-webkit-border-radius:23px;
border-radius:23px;
-webkit-animation-name:f_fadeG;
-webkit-animation-duration:1.1199999999999999s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-moz-animation-name:f_fadeG;
-moz-animation-duration:1.1199999999999999s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-o-animation-name:f_fadeG;
-o-animation-duration:1.1199999999999999s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-ms-animation-name:f_fadeG;
-ms-animation-duration:1.1199999999999999s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
}

#frotateG_01{
left:0;
top:102px;
-webkit-animation-delay:0.41999999999999993s;
-moz-animation-delay:0.41999999999999993s;
-o-animation-delay:0.41999999999999993s;
-ms-animation-delay:0.41999999999999993s}

#frotateG_02{
left:30px;
top:30px;
-webkit-animation-delay:0.5599999999999999s;
-moz-animation-delay:0.5599999999999999s;
-o-animation-delay:0.5599999999999999s;
-ms-animation-delay:0.5599999999999999s}

#frotateG_03{
left:102px;
top:0;
-webkit-animation-delay:0.7s;
-moz-animation-delay:0.7s;
-o-animation-delay:0.7s;
-ms-animation-delay:0.7s;
}

#frotateG_04{
right:30px;
top:30px;
-webkit-animation-delay:0.8399999999999999s;
-moz-animation-delay:0.8399999999999999s;
-o-animation-delay:0.8399999999999999s;
-ms-animation-delay:0.8399999999999999s;
}

#frotateG_05{
right:0;
top:102px;
-webkit-animation-delay:0.9799999999999999s;
-moz-animation-delay:0.9799999999999999s;
-o-animation-delay:0.9799999999999999s;
-ms-animation-delay:0.9799999999999999s;
}

#frotateG_06{
right:30px;
bottom:30px;
-webkit-animation-delay:1.1199999999999999s;
-moz-animation-delay:1.1199999999999999s;
-o-animation-delay:1.1199999999999999s;
-ms-animation-delay:1.1199999999999999s;
}

#frotateG_07{
left:102px;
bottom:0;
-webkit-animation-delay:1.26s;
-moz-animation-delay:1.26s}

#frotateG_08{
left:30px;
bottom:30px;
-webkit-animation-delay:1.4s;
-moz-animation-delay:1.4s;
-o-animation-delay:1.26s;
-ms-animation-delay:1.26s;
}

#frotateG_08{
left:30px;
bottom:30px;
-webkit-animation-delay:1.4s;
-moz-animation-delay:1.4s;
-o-animation-delay:1.4s;
-ms-animation-delay:1.4s;
}

@-webkit-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-moz-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-o-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-ms-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}