.enigmatic .panel-heading h4:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

.enigmatic .panel-heading.collapsed h4:after {
    content: "\e080";
}

.enigmatic .hidden, .enigmatic .unavailable {
	display: none !important;
}
.enigmatic {
	position: relative;
}
.enigmatic .bytes, .enigmatic .enigmatic-editable, .enigmatic .referable {
	font-family: monospace;
	padding: 8px 15px;
	background-color: #fff;
}
.enigmatic .bytes {
	color: #888;
}
.enigmatic .enigmatic-editable {
	color: #3c763d;
	background-color: #edf6ed;
}
.enigmatic .referable {
	color: #3c763d;
}
.enigmatic .enigmatic-editable div {
	display: inline-block;
	padding: 0 12px 0 0;
}

.enigmatic p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    color: #777;
}

.tab-content .enigmatic ul li p {
	text-indent: 0;
}
