@@include('../common/base.css')

div.barcode {
    width: 50%;
    margin: 1%;
}

table.barcode {
    width: 100%;
    margin: 0%;
    padding: 0%;
}

td.barcode_description {
    background: #c0c0c0;
    border: 2px #000000 solid;
    color: #000000;
    padding: 10px;
}

td.barcode_label {
    background: #dddddd;
    border: 2px #000000 solid;
    color: #000000;
    padding: 10px;
}

td.barcode_content {
    background: #dddddd;
    border: 2px #000000 solid;
    color: #000000;
    padding: 10px;
}

td.barcode_canvas {
    background: #c0c0c0;
    border: 2px #000000 solid;
    color: #000000;
    padding: 10px;
}

select.barcode_select {
    width: 100%;
}

input.barcode_input {
    width: 100%;
}

button.barcode_button {
    width: 100%;
}
