button.accordion {
    font-size: inherit;
    background-color: #eaeaea;
    cursor: pointer;
    padding: 1.2%;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    transition: 0.4s;
    margin-bottom: 0;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 1em;
    background-color: #f8f8f8;
    display: none;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    margin-bottom: 3%;
}

div.panel.show {
    opacity: 1;
    display: block;
}
