.custom-range::-webkit-slider-thumb {
  background: var(--green);
}

.custom-range::-moz-range-thumb {
  background: var(--green);
}
.custom-range::-moz-range-thumb:active {
  background: var(--green);
}

.custom-range::-ms-thumb {
  background: gray;
}

.tab-content .hit {
  background-color: rgb(1, 255, 1);
  color: black;
}

.tab-content .textToComparison {
  overflow-wrap: break-word;
  display: block;
  resize: none;
}

.tab-content .example {
  background-color: var(--red);
}

.tab-content .dropdown-item:active {
  background: var(--green);
}
.tab-content .dropdown-item:hover {
  background: var(--green);
}
