<div class="container">
<div class="containerFluid">
  <div id='lang' class='hide'>
    <button name='lang' id='de' value='DE' @click='switchLang("de")'>DE</button>
    <button name='lang' id='en' value='EN' @click='switchLang("en")'>EN</button>
  </div>

    <!-- h2>{{ $t('ciphername') }}</h2 -->
    <tabs v-if="useTabs"></tabs>
    <accordion v-if="useAccordion"></accordion>
    <type></type>
    <plain></plain>
    <cipher></cipher>
    <substitution></substitution>

    <div id="middleSection">
      <p>{{ $t('options') }} &mdash; {{ $t('alphabetOptions') }}
        <label>({{ $t('length') }}: {{alphaLength}} {{ $t('characters') }})</label>
      </p>

      <substitutionMatrix></substitutionMatrix>

      <div id="transposition">
      <keybox></keybox>

      <alphabetOptions></alphabetOptions>
      </div>

      <buttonbox></buttonbox>
    </div>
  <!--background></background-->
  <div id='authors'>
    <em>CTOAUTHORS: Christian Sieche, Phil Pilcrow, David Kuche</em>
  </div>
</div>
</div>
