/* style */
.containerFluid .adfgvx-matrix {
	font-family:courier;
}
.containerFluid #columns {
	width: 100%;
	/*width: 70%;
	margin: 0 1em;*/
}
.containerFluid #displayOptions label {
	margin: 0 1.5em 0 0.5em !important;
}
.containerFluid #mymatrix {
	width: 70%;
	padding: 0.2em;
}
.containerFluid #newBox {
	float:left;
	width: 97%;
	display: inline-block;
	margin: 0;
}
.containerFluid .popuptext {
	bottom: 1em;
	margin-left: -5em;
}
.containerFluid #indent {
	font: 1em "Segoe UI";
	margin-left: 1em;
	margin-bottom: 0;
	padding-left: 3em;
	text-indent: -1em;
}
.containerFluid .mono {
	font: 1em "Courier New";
}
.containerFluid .tableGrid {
	 border-right: 0.1em solid #8B0000;
	 border-bottom: 0.1em solid #8B0000;
	 display: table;
	 margin-left: 3em;
	 table-layout:fixed;
	 width: 80%;
 }
.containerFluid .tableRow {
	  border: 2px;
	  display: table-row;
}
.containerFluid .tblCell {
	border-left: 0.1em solid #8B0000;
	border-top: 0.1em solid #8B0000;
	display: table-cell;
	padding: 1px;
	text-align: center;
	width: 20px;
}
