.big-numbers{
    max-width: 300px !important;
}

.icons-size{
    font-size: 25px !important;
}

.slider-width
{
    width: 130px;
}

#content a{
    text-decoration: none !important;
}

#rsa-input .input-parent-element{
    padding-left: 0 !important;
} 

#rsa-input .col-form-label{
    text-align: center !important;
} 

#table > tbody > tr > td:nth-child(7){
  margin-left: 0% !important;
  margin-right: 0% !important;
  padding-left: 0% !important;
  padding-right: 0% !important;
}
.jxgbox{
    border-width: 1px !important;
    border-color: black !important;
    height: 500px;
    min-height: 350px;
    max-height: 500px;
    width: 100%;
    min-width: calc(100vmin - 25em);
}

/* @media only screen and (max-width: 700px)and (min-width: 601px) {
    .jxgbox{
    height: calc(100vmin - 15em);
    min-height: calc(100vmin - 15em);
}}

@media only screen and (max-width: 600px) {
    .jxgbox{
    height: calc(100vmin - 10em);
    min-height: calc(100vmin - 10em);
}} */

/* Calculation body */
.headerSiding {
    position: relative; /* need a non-static position */
    padding-top: 1.5em; /* place for the fixed header */
    height: 500px;
    min-height: 350px;
    border: 1px solid black;
    border-radius: 0.25rem!important;
}

@media only screen and (max-width: 991px ){
    .headerSiding{
        font-size:medium!important;
        height:100px;
        min-height: 100px;
    }
}


.calculation-wrapper{
    height: 100%;
    overflow-y:auto;
}

.header-calculation{
    border-bottom: 1px solid black;
    position: absolute; /* pinned to next non-static parent */
    top: 0; /* at top of parent */
}

/* Ending calculation body */

.div-upload-button{
    position: relative;
    overflow: hidden;
}
.div-upload-input{
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

#rsa-input label{
    float: right;
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }

.scrollable-context{
    max-height: 30em;
    min-height: 20em;
    overflow: auto;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
}

#preview-config-file-modal .modal-body>p{
    border-radius: 5px;
    padding: 5px;
    background-color: lightgray;
    
}

.fa-chevron-down {
    transition: all 0.3s ease;
 }
 .btn-nav-accordion.collapsed .fa-chevron-down {
    transform: rotate(180deg);
  }