#keywordBox {
    float:left;
    width: 97%;
    display: inline-block;
    margin: 0;
}
#keywordBox .left {
    float:left;
    max-width: 55%;
}
#keywordBox input[type='text'] {
    min-width: 30%;
    padding: 0.2em;
    width: 70%;
}
.keyword {
    display: flex;
    margin: 0.3em 0;
    width: 100%;
    line-height: 200%;
}
