
.glyph {
    display: inline-block;
    width: 9em;
    margin: 1em;
    text-align: center;
    vertical-align: top;
    background: #FFF;
}
.glyph .glyph-icon {
    padding: 10px;
    display: block;
    font-family:"Flaticon";
    font-size: 64px;
    line-height: 1;
}
.glyph .glyph-icon:before {
    font-size: 64px;
    color: #222;
    margin-left: 0;
}

.icon {
    width: 2%;
    height: 2.3em;
    display: inline-block;
    vertical-align: text-bottom;
    float: left;
}

@media screen and (max-width: 720px) {
    .icon {
        width: 4%;
    }
}