/* Popup container */
.infobox {
    position: inherit;
    display: inline-block;
    cursor: pointer;
    float: right;
    width: 50%;
    text-align: center;
}

/* The actual popup (appears on top) */
.infobox .infoboxtext {
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 0.5em;
    padding: 0 0.8em 0.8em;
    position: absolute;
    z-index: 1;
    top: 20em;
    left: 1em;
    /*max-height: 25.7em;*/
   /* bottom: 125%;
    left: 50%;
    margin-left: -80px;*/
}

.infobox .infoboxtext h4 {
    text-align: center;
    color: #fff;
 }

.infobox .infoboxtext h5 {
    font-size: medium;
    display: block;
    width: 100%;
    float: left;
    color: #fff;
}

.infobox .infoboxtext span {
    float: left;
}
/* Popup arrow */
.infobox .infoboxtext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.infobox .visible {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    margin: 1em;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* The Close Button */
.infobox .close {
    color: #aaaaaa;
    float: right !important;
    width: 2% !important;
    font-size: 28px;
    font-weight: bold;
}

.infobox .close:hover,
.infobox .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}