/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    float: right;
    width: 50%;
    text-align: center;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 15em;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 0.5em;
    padding: 0.5em 0;
    position: absolute;
    z-index: 1;
   /* bottom: 125%;
    left: 50%;
    margin-left: -80px;*/
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .visible {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
